@layout('layouts/main')
@set('title', 'Accueil')

@section('main')
<div>
  <form action="{{ route('SearchesController.index') }}" method="get">
    <input type="text" name="search" id="search" placeholder="Rechercher sur le site">

    <button type="submit">Rechercher</button>
  </form>
</div>
@end
