@layout('layouts/main')
@set('title', 'Créer une station')

@section('main')
<form action="{{ route('StationsController.store') }}" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
  <label for="location">Location</label>
  <input type="text" name="location" id="location">

  <button type="submit">Créer la station</button>
</form>
@end
