@layout('layouts/main')
@set('title', 'Editer un service')

@section('main')
<form action="{{ route('ServicesController.update', {id: service.id }) }}?_method=PUT" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="{{ service.name }}">

  <button type="submit">Modifier le service</button>
</form>
@end
