<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }} - team?.name</title>
  @entryPointScripts('app')
  @entryPointStyles('app')
</head>
<body>
  <header>
    @if(auth.isLoggedIn)
      <form action="{{ route('AuthController.logout') }}" method="post">
        <button type="submit">Se déconnecter</button>
      </form>
    @else
      <a href="{{ route('AuthController.login') }}">
        Se connecter
      </a>
      <a href="{{ route('AuthController.signup') }}">
        S'incrire
      </a>
    @end
  </header>
  <nav>
    <ul>
      <li>
        <a href="{{ route('PersonsController.index') }}">
          Sauveteurs
        </a>
      </li>
      <li>
        <a href="{{ route('ExcursionsController.index') }}">
          Sorties en mer
        </a>
      </li>
      <li>
        <a href="{{ route('StationsController.index') }}">
          Stations
        </a>
      </li>
      <li>
        <a href="{{ route('ServicesController.index') }}">
          Services des ports
        </a>
      </li>
    </ul>
  </nav>
  <main>
    @!section('main')
  </main>
</body>
</html>
