<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ title }} - team?.name</title>
  @entryPointStyles('app')
</head>
<body>
  <canvas id="ThreeCanvas" class="w-full h-full block inset-0 z-0 bg-black"></canvas>
  <div class="absolute inset-0 w-full h-full">
    <header class="flex flex-row justify-between items-center px-8 absolute w-full h-20 left-0 top-0 border-b-2 border-white">
       <div class="flex flex-row">
        <h1 class="text-4xl font-bold text-white leading-normal px-4">Sauveteurs du dunkerquois</h1>
      </div>
      <div class="flex flex-row justify-center items-center space-x-4">
        @if(auth.isLoggedIn)
        <form action="{{ route('AuthController.logout') }}" method="post">
          <button type="submit" class="text-primary px-2 py-1 rounded-lg flex items-center justify-center bg-blue-500 text-white">Se déconnecter</button>
        </form>
        @else
        <a href="{{ route('AuthController.login') }}" class="text-xl text-primary px-2 py-1 rounded-lg flex items-center justify-center border border-blue-500">
          Se connecter
        </a>
        <a href="{{ route('AuthController.signup') }}" class="text-xl text-primary px-2 py-1 rounded-lg flex items-center justify-center bg-blue-500 text-white">
          S'incrire
        </a>
        @end
      </div>
    </header>
    <nav class="mt-20">
      <ul class="flex flex-row space-x-4 py-6 justify-center">
        <li class="hover:text-blue-600">
          <a href="{{ route('PersonsController.index') }}">
            Sauveteurs
          </a>
        </li>
        <li class="hover:text-blue-600">
          <a href="{{ route('ExcursionsController.index') }}">
            Sorties en mer
          </a>
        </li>
        <li class="hover:text-blue-600">
          <a href="{{ route('StationsController.index') }}">
            Stations
          </a>
        </li>
        <li class="hover:text-blue-600">
          <a href="{{ route('ServicesController.index') }}">
            Services des ports
          </a>
        </li>
         <li class="hover:text-blue-600">
          <a href="{{ route('BoatsController.index') }}">
            Les bateaux
          </a>
        </li>
      </ul>
    </nav>
    <main class="max-w-lg mx-auto">
      @!section('main')
    </main>
  </div>
  @entryPointScripts('app')
</body>
</html>
