@layout('layouts/main')
@set('title', 'Créer un rôle')

@section('main')
<form action="{{ route('RolesController.store') }}" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name">

  <button type="submit">Créer le rôle</button>
</form>
@end
